.idea
.vscode
__pycache__
/runs/
/test_samples/
/saves/
/result/
/frames/
/log/
/python_test/
/downloads/
/experiments/*
!/experiments/config.py
/outputs/


# stable diffusion webui
*.ckpt
*.safetensors
*.pth
/stable_diffusion_webui/ESRGAN/*
/stable_diffusion_webui/SwinIR/*
/stable_diffusion_webui/repositories
/stable_diffusion_webui/venv
/stable_diffusion_webui/tmp
/stable_diffusion_webui/model.ckpt
/stable_diffusion_webui/models/**/*
/stable_diffusion_webui/GFPGANv1.3.pth
/stable_diffusion_webui/gfpgan/weights/*.pth
/stable_diffusion_webui/ui-config.json
/stable_diffusion_webui/outputs
/stable_diffusion_webui/config.json
/stable_diffusion_webui/log
/stable_diffusion_webui/webui.settings.bat
/stable_diffusion_webui/embeddings
/stable_diffusion_webui/styles.csv
/stable_diffusion_webui/params.txt
/stable_diffusion_webui/styles.csv.bak
/stable_diffusion_webui/webui-user.bat
/stable_diffusion_webui/webui-user.sh
/stable_diffusion_webui/interrogate
/stable_diffusion_webui/user.css
/stable_diffusion_webui/.idea
notification.mp3
/stable_diffusion_webui/SwinIR
/stable_diffusion_webui/textual_inversion
/stable_diffusion_webui/extensions
/stable_diffusion_webui/test/stdout.txt
/stable_diffusion_webui/test/stderr.txt
/stable_diffusion_webui/cache.json*
/stable_diffusion_webui/config_states/
/stable_diffusion_webui/node_modules
/stable_diffusion_webui/package-lock.json
/stable_diffusion_webui/.coverage*
/stable_diffusion_webui/test/test_outputs
/stable_diffusion_webui/cache
