transformers
huggingface_hub
datasets
safetensors
accelerate
timm
albumentations
evaluate
opencv-python
peft
triton
PyYAML
omegaconf
xformers
compel
gradio
ultralytics
einops
kornia
open-clip-torch
invisible-watermark
streamlit
streamlit-drawable-canvas
torchdata
webdataset
jsonmerge
clip-anytorch
clean-fid
torchdiffeq
torchsde
wandb
fastapi
uvicorn
inflection
pydantic
basicsr
facelib
facexlib
realesrgan
blendmodes